
/__history
/dox/cpp
/dox/html
/fpcqt.Artwork/Windows
/FPCqt4Linux
/obj_cpp
/pas/__history
win64/Release/QCharClass.ppu
win64/Release/QCharClass.o
win64/Release/misc.ppu
win64/Release/misc.o
win64/Release/libimpQCharClass.a
win64/Release/libimpmisc.a
win64/Release/fpcqt.o
win64/Release/fpcmain.ppu
win64/Release/fpcmain.o
win64/Release/appsettings.ppu
win64/Release/appsettings.o
win64/Release/fpcqt.exe
win64/Release/fpcqt.dll
src/lib64/ld-linux-x86-64.so.2
src/lib/ld-linux.so.2
dox/packed.zip
lib64/ld-linux-x86-64.so.2
lib/ld-linux.so.2
dox/project.chm
dox/warnings.log
dox/project.chi
/pas/__recovery
/readme
*.dcu
win64/Release/fpcqt.exe.bak
win64/Release/fpcqt.dll.bak
fpcqt.~dsk
win64/Release/QTypes.ppu
